{
  "openapi": "3.0.1",
  "info": {
    "title": "SendSafely REST API",
    "description": "Documented endpoints for the SendSafely REST API. To call the endpoints a SendSafely API Key and Secret is required to calculate the request signature. <BR><BR><I>This document is a draft, and should be considered a work in progress.</I>",
    "contact": {
      "name": "SendSafely REST API Support",
      "email": "support@sendsafely.com"
    },
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://demo.sendsafely.com/api/v2.0"
    }
  ],
  "tags": [
    {
      "name": "package",
      "description": "Create package, upload encrypted data, add recipients, and finalize"
    },
    {
      "name": "user",
      "description": "Get, modify user"
    },
    {
      "name": "contact group",
      "description": "Create/delete contact group, add/delete contact group user"
    },
    {
      "name": "key management",
      "description": "Sync keycodes, add/get/delete public key"
    },
    {
      "name": "dropzone management",
      "description": "add/get/delete dropzone recipients and update dropzone configurations"
    },
    {
      "name": "recipient",
      "description": "Get recipient package information"
    },
    {
      "name": "config",
      "description": "Verify credentials"
    },
    {
      "name": "enterprise",
      "description": "Get enterprise information"
    }
  ],
  "paths": {
    "/package/": {
      "put": {
        "tags": [
          "package"
        ],
        "summary": "Create a new package",
        "description": "Create a new package",
        "operationId": "CreatePackage",
        "parameters": [
          {
            "name": "ss-api-key",
            "in": "header",
            "description": "SendSafely API Key (API_KEY)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "description": "TIMESTAMP (ex: 2014-01-14T22:24:00+0000)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "description": "HmacSHA256(API_SECRET, API_KEY + URL_PATH + TIMESTAMP + REQUEST_BODY)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePackageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePackageResp"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "package"
        ],
        "summary": "Get Sent Packages",
        "description": "Get Sent Packages",
        "parameters": [
          {
            "name": "ss-api-key",
            "in": "header",
            "description": "SendSafely API Key (API_KEY)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "description": "TIMESTAMP (ex: 2014-01-14T22:24:00+0000)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "description": "HmacSHA256(API_SECRET, API_KEY + URL_PATH + TIMESTAMP + REQUEST_BODY)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/rowParam"
          },
          {
            "$ref": "#/components/parameters/pageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSentPackagesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/package/workspaces/": {
      "get": {
        "tags": [
          "package"
        ],
        "summary": "Get Workspace Packages",
        "description": "Get Workspace Packages",
        "parameters": [
          {
            "name": "ss-api-key",
            "in": "header",
            "description": "SendSafely API Key (API_KEY)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "description": "TIMESTAMP (ex: 2014-01-14T22:24:00+0000)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "description": "HmacSHA256(API_SECRET, API_KEY + URL_PATH + TIMESTAMP + REQUEST_BODY)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/rowParam"
          },
          {
            "$ref": "#/components/parameters/pageParam"
          },
          {
            "$ref": "#/components/parameters/workspaceSortFieldParam"
          },
          {
            "$ref": "#/components/parameters/sortOrderParam"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWorkspacePackagesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/package/{packageId}/": {
      "get": {
        "tags": [
          "package"
        ],
        "summary": "Get package information",
        "description": "Get package information",
        "operationId": "GetPackageInformation",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "example": "GVG2-MNZT",
            "description": "Unique package identifier, which can be the packageId or packageCode values",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPackageInformationResp"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "package"
        ],
        "summary": "Update package information",
        "description": "Update package information",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePackageInformationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "package"
        ],
        "summary": "Delete package",
        "description": "Delete package",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/package/{packageId}/temp/": {
      "delete": {
        "tags": [
          "package"
        ],
        "summary": "Delete temp package",
        "description": "Delete temp package",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "example": "GVG2-MNZT",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/package/{packageId}/finalize/": {
      "post": {
        "tags": [
          "package"
        ],
        "summary": "Finalize package",
        "description": "Finalize the package<BR><BR>Note that the message property of the response contains the secure link for accessing the encrypted message. When sharing the link with a recipient, the client-side generated secret should be passed as the value of a keyCode parameter appended as a URL Fragment Identifier. For example&#58;<BR><BR>https://<span></span>companyabc.sendsafely.com:8443/receive/?thread=JRPE-XSR2&packageCode=EsUUhFULgu2H0X0hU8uDHzCBp02k4X62tTic2V1MsBY<B>#keyCode=XXXXYYYYY</b>",
        "operationId": "FinalizePackage",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FinalizePackageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinalizePackageResp"
                }
              }
            }
          }
        }
      }
    },
    "/package/{packageId}/message/": {
      "put": {
        "tags": [
          "package"
        ],
        "summary": "Upload encrypted message",
        "description": "Upload encrypted message. <BR><BR><p>To encrypt the message, you will need to use an encryption library that implements the OpenPGP message format. Specifically, the following is required when encrypting with OpenPGP&#58;<br><ul><li>The Symmetric-Key Algorithm should be 9 (AES-256)</li><li>The Compression Algorithm should be 0 (Uncompressed)</li><li>The Hash Algorithm should be 8 (SHA-256)</li></ul><p>The 256-bit encryption key is the package server secret concatenated with a random 256-bit secret generated client-side, which will be included as the \"keyCode\" parameter in the secure link.<p>",
        "operationId": "UploadEncryptedMessage",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadEncryptedMessageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadEncryptedMessageResp"
                }
              }
            }
          }
        }
      }
    },
    "/package/{packageId}/recipient/": {
      "put": {
        "tags": [
          "package"
        ],
        "summary": "Add recipient",
        "description": "Add recipient",
        "operationId": "AddRecipient",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddRecipientRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddRecipientResp"
                }
              }
            }
          }
        }
      }
    },
    "/package/{packageId}/file/": {
      "put": {
        "tags": [
          "package"
        ],
        "summary": "Creates a new file within a package",
        "description": "Creates a new file within a package. The unique fileId is returned as a result.",
        "operationId": "CreateFile",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFileResp"
                }
              }
            }
          }
        }
      }
    },
    "/package/{packageId}/file/{fileId}/upload-urls/": {
      "post": {
        "tags": [
          "package"
        ],
        "summary": "Get Upload URLs",
        "description": "Gets the file part upload URLs for the file. Up to 25 urls are returned at once.",
        "operationId": "GetUploadUrls",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetUploadUrlsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUploadUrlsResp"
                }
              }
            }
          }
        }
      }
    },
    "/package/{packageId}/file/{fileId}/upload-complete/": {
      "post": {
        "tags": [
          "package"
        ],
        "summary": "Sets the file upload status as complete",
        "description": "Sets the file upload status as complete. The server will verify that all segments are present within S3.",
        "operationId": "UploadComplete",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadCompletedRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadCompletedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/package/{packageId}/public-keys/": {
      "get": {
        "tags": [
          "package"
        ],
        "summary": "Get package publickeys",
        "description": "Get package PublicKeys",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPublicKeysResponse"
                }
              }
            }
          }
        }
      }
    },
    "/package/{packageId}/link/{publicKeyId}/": {
      "get": {
        "tags": [
          "package"
        ],
        "summary": "Get package keycode by public key id",
        "description": "Add Keycode to Package",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "publicKeyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddKeyCodeToPackageResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "package"
        ],
        "summary": "Add Keycode by public key id",
        "description": "Add Keycode to Package",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "publicKeyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/package/{packageId}/recipient/{recipientId}/": {
      "get": {
        "tags": [
          "package"
        ],
        "summary": "Get package recipient by id",
        "description": "Get package recipent by id",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddRecipientResp"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "package"
        ],
        "summary": "Update recipient",
        "description": "Update Recipent",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRecipientRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddRecipientResp"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "package"
        ],
        "summary": "Delete package recipient by id",
        "description": "Delete package recipent by id",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/package/{packageId}/directory/{directoryId}/file/{fileId}": {
      "get": {
        "tags": [
          "package"
        ],
        "summary": "Get package directory file information",
        "description": "Get package directory file information",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "directoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/package/{packageId}/file/{fileId}": {
      "get": {
        "tags": [
          "package"
        ],
        "summary": "Get package file information",
        "description": "Get package file information",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFileResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "package"
        ],
        "summary": "Delete package file",
        "description": "Delete package file",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/package/{packageId}/directory/{directoryId}": {
      "get": {
        "tags": [
          "package"
        ],
        "summary": "Get directory information",
        "description": "Get directory information",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "directoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "directoryIndex",
            "in": "query",
            "description": "The index for paging subdirectories within the current directory",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fileIndex",
            "in": "query",
            "description": "The index for paging files within the current directory",
            "example": 0,
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/sortFieldParam"
          },
          {
            "$ref": "#/components/parameters/sortOrderParam"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDirectoryResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "package"
        ],
        "summary": "Rename workspace directory",
        "description": "Rename workspace directory",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "directoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenameWorkspaceDirectoryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/package/{packageId}/activityLog/": {
      "post": {
        "tags": [
          "package"
        ],
        "summary": "Get package activity log",
        "description": "Get package activity log",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetActivityLogResponse"
                }
              }
            }
          }
        }
      }
    },
    "/package/{packageId}/file/{fileId}/download-urls/": {
      "post": {
        "tags": [
          "package"
        ],
        "summary": "Get Download URLs for File",
        "description": "Gets the file part S3 download URLs for a file. Up to 25 urls are returned at once.",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDownloadUrlsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDownloadUrlsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/package/{packageId}/directory/{directoryId}/file/{fileId}/download-urls/": {
      "post": {
        "tags": [
          "package"
        ],
        "summary": "Get Download URLs for file in directory",
        "description": "Gets the file part S3 download URLs for file in a directory. Up to 25 urls are returned at once.",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "directoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDownloadUrlsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDownloadUrlsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/package/{packageId}/directory/{directoryId}/file/{fileId}/": {
      "post": {
        "tags": [
          "package"
        ],
        "summary": "Move workspace file",
        "description": "Move workspace file",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "directoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoveWorkspaceFileResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "package"
        ],
        "summary": "Delete workspace file",
        "description": "Delete workspace file",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "directoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/package/{packageId}/directory/{directoryId}/": {
      "delete": {
        "tags": [
          "package"
        ],
        "summary": "Delete workspace directory",
        "description": "Delete workspace directory",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "directoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/package/{packageId}/move/{sourcedirectoryId}/{targetdirectoryId}/": {
      "post": {
        "tags": [
          "package"
        ],
        "summary": "Move workspace directory",
        "description": "Move workspace directory",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourcedirectoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "targetdirectoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/package/organization/search/": {
      "post": {
        "tags": [
          "package"
        ],
        "summary": "Get organization packages",
        "description": "Returns packages in the current user's organization based on provided search criteria. The search defaults to returning all packages up to the current date and time, if a specific value is not passed for each search criteria. A maximum of 100 records will be returned per method call. The calling user must be a SendSafely Enterprise Administrator.",
        "operationId": "GetOrganizationPackages",
        "parameters": [
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/rowParam"
          },
          {
            "$ref": "#/components/parameters/pageParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOrganizationPackagesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrganizationPackagesResp"
                }
              }
            }
          }
        }
      }
    },
    "/package/{packageId}/directory/{directoryId}/subdirectory/": {
      "put": {
        "tags": [
          "package"
        ],
        "summary": "Create workspace subdirectory",
        "description": "Create workspace subdirectory",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "directoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkspaceSubdirectoryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDirectoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/package/{packageId}/{recipientId}/public-keys/": {
      "get": {
        "tags": [
          "package"
        ],
        "summary": "Get package recipient public keys",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPublicKeysResponse"
                }
              }
            }
          }
        }
      }
    },
    "/package/{packageId}/recipients/": {
      "put": {
        "tags": [
          "package"
        ],
        "summary": "Add recipients to package",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddRecipientsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddRecipientsToPackageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/package/{packageId}/file/{fileId}/copy": {
      "post": {
        "tags": [
          "package"
        ],
        "summary": "Copies a file from a SendSafely Package to a SendSafely Workspace",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CopyFileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Get user information",
        "description": "Get user information",
        "parameters": [
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserInformationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/groups/": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Get user contact groups",
        "description": "Get user contact groups",
        "parameters": [
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserContactGroupsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/package/received/": {
      "get": {
        "tags": [
          "package"
        ],
        "summary": "Get received packages",
        "description": "Get received packages",
        "parameters": [
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/rowParam"
          },
          {
            "$ref": "#/components/parameters/pageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetReceivedPackagesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/package/archived/": {
      "get": {
        "tags": [
          "package"
        ],
        "summary": "Get expired packages",
        "description": "Get expired packages",
        "parameters": [
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/rowParam"
          },
          {
            "$ref": "#/components/parameters/pageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetArchivedPackagesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/package/{packageId}/group/{groupId}/": {
      "put": {
        "tags": [
          "package"
        ],
        "summary": "Add Contact Group to Package as Recipients",
        "description": "Add Contact Group to Package as Recipients",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddContactGroupToPackageResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "package"
        ],
        "summary": "Delete Contact Group from Package",
        "description": "Delete Contact Group from Package",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/package/{packageId}/message/{checksum}/": {
      "get": {
        "tags": [
          "package"
        ],
        "summary": "Get Package Message",
        "description": "Get Package Message",
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checksum",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "3d2f6810c0778001a3a3043a65d2ee458961fb59197c3d215cce29cc28621395",
              "description": "HmacSHA256(keycode,packageCode)"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPackageMessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/group/": {
      "put": {
        "tags": [
          "contact group"
        ],
        "summary": "Create contact group",
        "description": "Create contact group",
        "parameters": [
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContactGroupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateContactGroupResponse"
                }
              }
            }
          }
        }
      }
    },
    "/group/{groupId}/user/": {
      "put": {
        "tags": [
          "contact group"
        ],
        "summary": "Add contact group user",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddContactGroupUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddContactGroupUserResponse"
                }
              }
            }
          }
        }
      }
    },
    "/group/{groupId}/{userId}/": {
      "delete": {
        "tags": [
          "contact group"
        ],
        "summary": "Delete contact group user",
        "description": "Delete contact group user",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/group/{groupId}/": {
      "delete": {
        "tags": [
          "contact group"
        ],
        "summary": "Delete contact group",
        "description": "Delete contact group",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteContactGroupResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sync/{publicKeyId}/": {
      "get": {
        "tags": [
          "key management"
        ],
        "summary": "Sync keycodes by public key id",
        "description": "Sync keycodes by public key id",
        "parameters": [
          {
            "name": "publicKeyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncKeycodesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public-key/": {
      "put": {
        "tags": [
          "key management"
        ],
        "summary": "Add public key",
        "description": "Add public key",
        "parameters": [
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddPublicKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddPublicKeyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public-key/{publicKeyId}/": {
      "get": {
        "tags": [
          "key management"
        ],
        "summary": "Get public key by id",
        "description": "Get public key by id",
        "parameters": [
          {
            "name": "publicKeyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPublicKeyResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "key management"
        ],
        "summary": "Delete public key",
        "description": "Delete public key",
        "parameters": [
          {
            "name": "publicKeyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/dropzone-recipients/": {
      "get": {
        "tags": [
          "dropzone management"
        ],
        "summary": "Get dropzone recipients",
        "description": "Get dropzone recipients",
        "parameters": [
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDropzoneRecipientsResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "dropzone management"
        ],
        "summary": "Add dropzone recipients",
        "description": "Add dropzone recipients",
        "parameters": [
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddRecipientsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddDropzoneRecipientsResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "dropzone management"
        ],
        "summary": "Delete dropzone recipient",
        "description": "Delete dropzone recipient",
        "parameters": [
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteDropzoneRecipientResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/{userId}/dropzone/config/": {
      "post": {
        "tags": [
          "dropzone management"
        ],
        "summary": "Update dropzone config",
        "description": "Update dropzone config",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDropzoneRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateDropzoneConfigResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get-identity-cookie/": {
      "get": {
        "summary": "Get Identity Cookie",
        "description": "Get Identity Cookie",
        "parameters": [
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIdentityCookieResponse"
                }
              }
            }
          }
        }
      }
    },
    "/recipient/history/{recipientEmail}/": {
      "get": {
        "tags": [
          "recipient"
        ],
        "summary": "Get recipient packages history",
        "description": "Get recipient packages history",
        "parameters": [
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipientEmail",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRecipientHistoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/config/verify-credentials/": {
      "get": {
        "tags": [
          "config"
        ],
        "summary": "Verify Credentials",
        "description": "Verify Credentials",
        "parameters": [
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyCredentialsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/enterprise/": {
      "get": {
        "tags": [
          "enterprise"
        ],
        "summary": "Get enterprise information",
        "description": "Get enterprise information",
        "parameters": [
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEnterpriseInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/enterprise/groups/": {
      "get": {
        "tags": [
          "enterprise"
        ],
        "summary": "Get enterprise contact groups",
        "description": "Get enterprise contact groups",
        "parameters": [
          {
            "name": "ss-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-signature",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ss-request-timestamp",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEnterpriseContactGroupsResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "rowParam": {
        "name": "rowIndex",
        "in": "query",
        "description": "Starting row for data",
        "example": 0,
        "required": false,
        "schema": {
          "type": "integer"
        }
      },
      "pageParam": {
        "name": "pageSize",
        "in": "query",
        "description": "Number of rows to return, maximum of 100",
        "example": 100,
        "required": false,
        "schema": {
          "type": "integer"
        }
      },
      "sortFieldParam": {
        "name": "sortField",
        "in": "query",
        "description": "Column field for sorting",
        "example": "name | date",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "sortOrderParam": {
        "name": "sortOrder",
        "in": "query",
        "description": "Sort ordering",
        "example": "asc | desc",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "workspaceSortFieldParam": {
        "name": "sortField",
        "in": "query",
        "description": "Column field for sorting",
        "example": "name | date | owner",
        "required": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "GetOrganizationPackagesRequest": {
        "title": "GetOrganizationPackagesRequest",
        "type": "object",
        "properties": {
          "fromDate": {
            "type": "string",
            "example": "01/01/2019",
            "description": "01/01/2019"
          },
          "toDate": {
            "type": "string",
            "example": "01/01/2019",
            "description": "01/01/2019"
          },
          "filename": {
            "type": "string"
          },
          "sender": {
            "type": "string",
            "example": "test@sendsafely.com",
            "description": "test@sendsafely.com"
          },
          "recipient": {
            "type": "string",
            "example": "test@sendsafely.com",
            "description": "test@sendsafely.com"
          },
          "status": {
            "type": "string",
            "example": "all | picked-up | incomplete | archived | active | expired",
            "description": "all | picked-up | incomplete | archived | active | expired"
          }
        },
        "example": {
          "fromDate": "01/01/2019",
          "filename": "",
          "sender": "",
          "toDate": "03/01/2019",
          "recipient": "",
          "status": "ACTIVE"
        }
      },
      "GetPackageInformationResponse_confirmations": {
        "type": "object",
        "properties": {
          "ipAddress": {
            "pattern": "^(.*)$",
            "type": "string",
            "example": "127.0.0.1"
          },
          "timestamp": {
            "pattern": "^(.*)$",
            "type": "string",
            "example": "Dec 12, 2018 2:24:38 PM"
          },
          "timeStampStr": {
            "pattern": "^(.*)$",
            "type": "string",
            "example": "Dec 12, 2018 at 14:24"
          },
          "isMessage": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "CreatePackageResp": {
        "type": "object",
        "properties": {
          "packageId": {
            "pattern": "^(.*)$",
            "type": "string",
            "example": "4B88-CV9G",
            "default": ""
          },
          "packageCode": {
            "pattern": "^(.*)$",
            "type": "string",
[...]
